body {
  font-family: "One Sans", sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* Селекторы */
/* Селектор универсальный Звездочка*/
/* Селектор тега */
/* Селектор атрибута */
