:root {
    --background: #ffffff;
    --background-elements: #F5F4FA;
    --footer-color: #2F303A;
    --footer-text: rgba(255, 255, 255, 0.6);
    
    --first-btn-color: #2196F3;
    --second-btn-color:#188CE8;
    
    --accent-color: #2196F3;
    --first-title-color: #ffffff;
    --second-title-color: #212121;
    --p-title-color: #757575;  
}

body {
    font-family: 'Roboto', sans-serif;
  }

  /* Убирает точки в списках */
.list {
  list-style: none;
}

/* Убирает нижнее подчеркивание всех ссылок */
.link {
   text-decoration: none;
   color: var(--second-title-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

  /* ------------------HEADER------------------- */
.header{
    background-color: var(--background);
}
.logo-header{
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color:var(--second-title-color);
  }
.header-studio{
font-weight: 500;
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.02em;
color: var(--second-title-color);
}
.header-portfolio{
font-weight: 500;
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.02em;
color: var(--second-title-color);
}
.header-contacts{
font-weight: 500;
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.02em;
color: var(--second-title-color);
}
.header-mail{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--p-title-color);  
}
.header-tel{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--p-title-color);    
}

.accent{
  color: var(--accent-color);
}

.logo:hover,
.logo:focus,
.header-studio:hover,
.header-studio:focus,
.header-portfolio:hover,
.header-portfolio:focus,
.header-contacts:hover,
.header-contacts:focus,
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
    color: var(--accent-color);
}

/* --------------------MAIN-------------------- */
.main{
  background-color: var(--background);
}
.hero {
    background-color: var(--footer-color);
}
.occupation{
    
}

/* ----------TEAM---------- */
.team{
    background-color: var(--background-elements);
}

/* --------------------FOOTER-------------------- */
.footer{
    background-color: var(--footer-color)
}
.logo-footer{
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--background);
  }
span{
  color: var(--accent-color);
}
.footer-adres{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--background);
}
.footer-mail{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-text);
}
.footer-tel{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-text);
}
.footer-adres:hover,
.footer-adres:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
    color: var(--accent-color);
}

