:root {
    --background: #ffffff;
    --background-elements: #F5F4FA;
    --footer-color: #2F303A;
    --footer-text: rgba(255, 255, 255, 0.6);
    --footer-hover-text-one: rgba(255, 255, 255, 0.8);
    --footer-hover-text-two: rgba(255, 255, 255, 0.4);
    --footer-hover-accent: rgba(33, 149, 243, 0.9);
    --first-btn-color: #2196F3;
    --second-btn-color:#188CE8;
    
    --accent-color: #2196F3;
    
    --first-title-color: #ffffff;
    --second-title-color: #212121;
    --p-title-color: #757575;  
}

body {
    font-family: 'Roboto', sans-serif;
  }
h2{
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--second-title-color);
  
}
p{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--p-title-color);
}
  /* Убирает точки в списках */
.list {
  list-style: none;
}

/* Убирает нижнее подчеркивание всех ссылок */
.link {
   text-decoration: none;
   color: var(--second-title-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

  /* ------------------HEADER------------------- */
.header{
    background-color: var(--background);
}
.logo-header{
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color:var(--second-title-color);
  }
.header-studio{
font-weight: 500;
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.02em;
color: var(--second-title-color);
}
.header-portfolio{
font-weight: 500;
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.02em;
color: var(--second-title-color);
}
.header-contacts{
font-weight: 500;
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.02em;
color: var(--second-title-color);
}
.header-mail{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--p-title-color);  
}
.header-tel{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--p-title-color);    
}

.accent{
  color: var(--accent-color);
}
.logo:hover,
.logo:focus,
.header-studio:hover,
.header-studio:focus,
.header-portfolio:hover,
.header-portfolio:focus,
.header-contacts:hover,
.header-contacts:focus,
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
    color: var(--accent-color);
}
/* --------------------MAIN-------------------- */
.main{
  background-color: var(--background);
}
.hero {
  background-color: var(--footer-color);
  text-align: center;
}
.main-heading{
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background);
}
.hero-btn{
  background: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 1px solid #2F303A; /* Параметры рамки */
  color: var(--background);
}
.hero-btn:hover{
  background: var(--second-btn-color);
}
.h3-cpecif{
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
}

/* ----------TEAM---------- */
.team{
  background-color: var(--background-elements);
  font-size: 16px;
  line-height: 1.19;
}
.h3-team{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19px;
  letter-spacing: 0.03em;    
  text-align: center;
  color: var(--second-title-color)
}
.p-team{
  text-align: center;
}

/* -----Portfolio----------- */
.portfolio-buttons{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  
  
}
.btn-all{
  background: var(--accent-color);
  color: var(--background);
  border: 0.5px solid #2F303A; /* Параметры рамки */
  border-radius: 2px;
}
.btn-web{
  border: 0.5px solid #2F303A; /* Параметры рамки */
  border-radius: 2px;
}
.btn-applications{
  border: 0.5px solid #2F303A; /* Параметры рамки */
  border-radius: 2px;
}
.btn-design{
  border: 0.5px solid #2F303A; /* Параметры рамки */
  border-radius: 2px;
}
.btn-marketing{
  border: 0.5px solid #2F303A; /* Параметры рамки */
  border-radius: 2px;
}
.btn-all:hover,
.btn-all:focus,
.btn-web:hover,
.btn-web:focus,
.btn-applications:hover,
.btn-applications:focus,
.btn-design:hover,
.btn-design:focus,
.btn-marketing:hover,
.btn-marketing:focus{
  background-color: var(--first-btn-color);
  border: 0.5px solid #2F303A; /* Параметры рамки */
  border-radius: 2px;
  color: var(--background);
}
.h3-portfolio{
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}
.p-portfolio{
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--p-title-color);
}


/* --------------------FOOTER-------------------- */
.footer{
    background-color: var(--footer-color)
}
.logo-footer{
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--background);
  }
span{
  color: var(--accent-color);
}
.footer-adres{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--background);
}
.footer-mail{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-text);
}
.footer-tel{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-text);
}
.footer-adres:hover,
.footer-adres:focus{
  color: var(--footer-hover-text-one);
}
.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
    color: var(--footer-hover-text-two);
}

